<h1 class="h2 pt-3 pb-2 mb-3 border-bottom">Sensor data and resources</h1>

<h4 class="my-3 pt-4">Live sensor data</h4>

<div id="sensorDataWSError"></div>
<div id="sensorDataWS">
  <div class="ws-wrapper">
    <h6 class="ws-title">LIS3DH_X</h6>
    <canvas name="LIS3DH_X"></canvas>
  </div>
  <div class="ws-wrapper">
    <h6 class="ws-title">LIS3DH_Y</h6>
    <canvas name="LIS3DH_Y"></canvas>
  </div>
  <div class="ws-wrapper">
    <h6 class="ws-title">LIS3DH_Z</h6>
    <canvas name="LIS3DH_Z"></canvas>
  </div>
  <div class="ws-wrapper">
    <h6 class="ws-title">LPS33HW</h6>
    <canvas name="LPS33HW"></canvas>
  </div>
  <div class="ws-wrapper">
    <h6 class="ws-title">DLVR</h6>
    <canvas name="DLVR"></canvas>
  </div>
</div>

<hr class="my-4 my-md-5">

<h4 class="my-3">Request data via the dataselect API</h4>

<div class="accordion accordion-flush" id="api">
  <div class="accordion-item bg-none">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dataselect" aria-expanded="false" aria-controls="dataselect">
        <div class"row row-cols-2">
          <span class="badge bg-secondary">GET</span> <span class="badge bg-secondary">POST</span> <code>/api/dataselect/query</code>
        </div>
      </button>
    </h2>
    <div id="dataselect" class="accordion-collapse collapse" aria-labelledby="multi-ear-ctrl-service-response">
      <div class="accordion-body">

        <h5>Parameters</h5>
        <div class="row py-2 border-bottom">
          <div class="col-sm-3">Name</div>
          <div class="col-sm-9">Description</div>
        </div>
        <div class="row py-2">
          <div class="col-sm-3">
            <h5 class="card-title mb-0">starttime</h5>
            <p class="card-text small"><i>string</i>, default: <code>120s</code></p>
          </div>
          <div class="col-sm-9">Start time specified as UTC timestamp in ISO 8601 (format YYYY-MM-DDThh:mm:ss) 
          or as a timedelta string relative to the end time.</div>
        </div>
        <div class="row py-2">
          <div class="col-sm-3">
            <h5 class="card-title mb-0">endtime</h5>
            <p class="card-text small"><i>string</i>, default: <code>None</code></p>
          </div>
          <div class="col-sm-9">End time specified as UTC timestamp in ISO 8601 (format YYYY-MM-DDThh:mm:ss). 
            If not set the current time is used.</div>
        </div>
        <div class="row py-2">
          <div class="col-sm-3">
            <h5 class="card-title mb-0">field</h5>
            <p class="card-text small"><i>string</i>, default: <code>*</code></p>
          </div>
          <div class="col-sm-9">Sensor name(s), accepts regex expressions.</div>
        </div>
        <div class="row py-2">
          <div class="col-sm-3">
            <h5 class="card-title mb-0">format</h5>
            <p class="card-text small"><i>string</i>, default: <code>json</code></p>
          </div>
          <div class="col-sm-9">Set the data format code (<code>json</code> or <code>csv</code>).</div>
        </div>
        <div class="row py-2 border-bottom">
          <div class="col-sm-3">
            <h5 class="card-title mb-0">nodata</h5>
            <p class="card-text small"><i>number</i>, default: <code>204</code></p>
          </div>
          <div class="col-sm-9">Set the nodata HTML status code (<code>204</code> or <code>404</code>).</div>
        </div>
        <h5 class="mt-3 py-2">Example</h5>
        <p>Request the differential pressure and three-component accelerometer data of the last two minutes as json:<br> 
          <a href="http://{{hostname|lower}}.local/api/dataselect/query?starttime=120s&amp;field=DLVR,^LIS3DH&amp;format=csv" target="_blank"><code>http://{{hostname|lower}}.local/api/dataselect/query?starttime=120s&amp;field=DLVR,^LIS3DH&amp;format=csv</code></a>
        </p>

      </div>
    </div>
  </div>  
</div>

<hr class="my-4 my-md-5">

<h4 class="my-3">Request sensor data</h4>

<div class="row">
  <div class="col-md-6 col-xl-4">
    <div class="input-group mb-3">
      <span class="input-group-text">Duration</span>
      <select class="form-select" id="sensorDataDuration">
        <option value="60s" data-decimate="0">1 min</option>
        <option value="120s" data-decimate="0" selected>2 min</option>
        <option value="300s" data-decimate="0">5 min</option>
        <option value="900s" data-decimate="8" disabled>15 min</option>
        <option value="1800s" data-decimate="16" disabled>30 min</option>
        <option value="7200s" data-decimate="64" disabled>120 min</option>
      </select>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="input-group mb-3">
      <span class="input-group-text">End time (UTC)</span>
      <input type="text" class="form-control" placeholder="YYYY-MM-DDTHH:mm:ss" id="sensorDataEnd" aria-label="End time" value="">
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="input-group mb-3">
      <button class="btn btn-primary" id="sensorDataFetch">Request and plot</button>
    </div>
  </div>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="sensorDataUpdate" checked>
  <label class="form-check-label" for="sensorDataUpdate">Auto-update sensor data every 15s</label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="useUTC" checked>
  <label class="form-check-label" for="useUTC">Charts in Coordinated Universal Time (UTC)</label>
</div>

<figure class="my-3">
  <div id="chart-p"
       class="py-3"
       data-source="multi_ear"
       data-series="LPS33HW"
       data-scalar="1/4096"
       data-offset="0"
       data-title="Barometric Pressure"
       data-units="hPa">
  </div>
  <div id="chart-dp"
       class="py-3"
       data-source="multi_ear"
       data-series="DLVR"
       data-scalar="0.01*250/6553"
       data-offset="0,0"
       data-title="Differential Pressure"
       data-units="Pa">
  </div>
<!--
  <div id="chart-dp"
       class="py-3"
       data-source="multi_ear"
       data-series="DLVR,SP210"
       data-scalar="0.01*250/6553,250/(0.9*32768)"
       data-offset="0,0"
       data-title="Differential Pressure"
       data-units="Pa">
  </div>
-->
<!--
  <div id="chart-spl"
       class="py-3"
       data-source="multi_ear"
       data-series="ICS"
       data-scalar="100/4096"
       data-offset="0"
       data-title="Sound Pressure Level"
       data-units="dbV">
  </div>
-->
  <div id="chart-acc-z"
       class="py-3"
       data-source="multi_ear"
       data-series="LIS3DH_Z"
       data-scalar="0.076*9.80665/1000"
       data-offset="0"
       data-title="Acceleration in Z-direction"
       data-units="m s-2">
  </div>
  <div id="chart-acc-x"
       class="py-3"
       data-source="multi_ear"
       data-series="LIS3DH_X"
       data-scalar="0.076*9.80665/1000"
       data-offset="0"
       data-title="Acceleration in X-direction"
       data-units="m s-2">
  </div>
  <div id="chart-acc-y"
       class="py-3"
       data-source="multi_ear"
       data-series="LIS3DH_Y"
       data-scalar="0.076*9.80665/1000"
       data-offset="0"
       data-title="Acceleration in Y-direction"
       data-units="m s-2">
  </div>
  <div id="chart-t"
       class="py-3"
       data-source="multi_ear"
       data-series="SHT85_T"
       data-scalar="175/(2**16-1)"
       data-offset="-45"
       data-title="Temperature"
       data-units="°C">
  </div>
  <div id="chart-rh"
       class="py-3"
       data-source="multi_ear"
       data-series="SHT85_H"
       data-scalar="100/(2**16-1)"
       data-offset="0"
       data-title="Relative Humidity"
       data-units="%">
  </div>
</figure>

<hr class="my-4 my-md-5">

<h4 class="my-3">Live system resources</h4>

<figure class="my-3">
  <div id="chart-system-load" class="py-3">
  </div>
  <div id="chart-memory-usage" class="py-3">
  </div>
</figure>
