<div class="d-flex flex-column min-vh-100" id="home">

  <div class="text-center mb-auto mt-auto">
    <h1 class="display-5 pt-3 pt-lg-5 mt-lg-5 mb-md-4 fw-bold">Multi <br> Earth and Atmospheric <br> data Recorder</h1>
    <div class="col-lg-8 col-xl-6 mx-auto mb-md-0 lead">
    The Multi-EAR is a mobile low-cost multidisciplinary sensor platform for scientific monitoring of the earth and atmosphere. The low-cost platform uses digital Micro­electromechanical Systems (MEMS) sensors embedded on a Printed Circuit Board (PCB).
The Multi-EAR extends the <a href="https://doi.org/10.5194/amt-14-3301-2021" target="_blank" rel="noopener noreferrer">INFRA-EAR</a>, a sensor platform for monitoring geophysical parameters designed to fit a Wandering Albatross.
    </div>
  </div>

  <div class="row justify-content-center text-center p-2 mt-auto">
    <div class="col col-4 col-lg-3 col-xl-2 p-3" onclick="window.open('https://www.tudelft.nl','_blank');">
      <img src="{{ url_for('static', filename='img/tud.svg') }}" class="mx-auto img-fluid" height="75" width="auto" style="max-width:200px;">
    </div>
    <div class="col col-4 col-lg-3 col-xl-2 p-3" onclick="window.open('https://www.knmi.nl','_blank');">
      <img src="{{ url_for('static', filename='img/knmi.svg') }}" class="mx-auto img-fluid" height="75" width="auto" style="max-width:200px;">
    </div>
    <div class="col col-4 col-lg-3 col-xl-2 p-3" onclick="window.open('https://www.rijksoverheid.nl/ministeries/ministerie-van-infrastructuur-en-waterstaat','_blank');">
      <img src="{{ url_for('static', filename='img/ro.svg') }}" class="mx-auto img-fluid" height="75" width="auto" style="max-width:200px;">
    </div>
  </div>

</div>
