<h1 class="h2 pt-3 pb-2 mb-3 border-bottom">MEMS embedded on a PCB</h1>

<div class="row">
<div class="col col-md-8">

<p class="py-4 lead mr-md-5">The Multi-EAR uses digital Microelectromechanical Systems (MEMS) embedded on a Printed Circuit Board (PCB).
A programmable microcontroller regulates all sensors and aligns the sampling frequency and timing. The GNSS receiver serves as an accurate clock. 
The microcontroller gathers all data locally stored on flash memory or on a micro-SD card. Data is transferred to the Raspberry Pi via serial communication over the GPIO.</p>


<h4 class="my-3 pt-3 border-top">Microcontroller</h4>

<dl class="row pcb" id="MSP430">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">MSP430 FR5994 rev C</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">Texas instruments</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">Embedded multi purpose 16-bit microcontroller (MCU) up to a 16-MHz clock</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/MSP430.pdf') }}">MSP430 Datasheet (PDF)</a></dd>
</dl>


<h4 class="my-3 pt-3 border-top">Communication</h4>

<dl class="row pcb" id="RFLoRa">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">RF-LORA-868-SO</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">RF Solutions</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">LoRa transceiver module pre set to 868MHz with integrated Semtech SX1272 modem</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/RFLoRa.pdf') }}">RFLoRa Datasheet (PDF)</a> <a href="{{ url_for('static', filename='datasheet/SX1272.pdf') }}">SX1272 Datasheet (PDF)</a></dd>
</dl>


<h4 class="my-3 pt-3 border-top">Timing and location</h4>

<dl class="row pcb" id="GNS413">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">GNS413sLP</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">Texim Europe</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">Multi-GNSS receiver for GPS, GLONASS, SBAS, QZSS, BeiDou and Galileo</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/GNS41x.pdf') }}">GNS41x Datasheet (PDF)</a></dd>
</dl>

<h4 class="my-3 pt-3 border-top">Audible sound</h4>

<dl class="row pcb" id="ICS">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">ICS-40300</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">InvenSense</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">High SPL analog microphone with extended low frequency response</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/ICS40300.pdf') }}">ICS40300 Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-sm-end">Range</dt>
  <dd class="col-sm-9">99 dB</dd>
  <dt class="col-sm-3 text-sm-end">Sensitivity</dt>
  <dd class="col-sm-9">-45 dBV</dd>
  <dt class="col-sm-3 text-sm-end">Accuracy</dt>
  <dd class="col-sm-9">&#177;2 dB</dd>
</dl>

<h4 class="my-3 pt-3 border-top">Absolute pressure</h4>

<dl class="row pcb" id="LPS33">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">LPS33HW</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">ST Microelectronics</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>

  <dd class="col-sm-9">Direct piezoresistive pressure sensor</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/LPS33HW.pdf') }}">LPS33HW Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-sm-end">Range</dt>
  <dd class="col-sm-9">260-1260 hPa</dd>
  <dt class="col-sm-3 text-sm-end">Resolution</dt>
  <dd class="col-sm-9">24 bit</dd>
  <dt class="col-sm-3 text-sm-end">Accuracy</dt>
  <dd class="col-sm-9">&#177;0.1 hPa</dd>
</dl>


<h4 class="my-3 pt-3 border-top">Differential pressure</h4>

<dl class="row pcb" id="SP210">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">SP210-SM02-R</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">Superior Sensor Technology</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">Direct piezoresistive differential pressure sensor</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/SP210.pdf') }}">SP210 Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-sm-end">Range</dt>
  <dd class="col-sm-9">&#177;250 Pa (programmable up to &#177;2.5 kPa)</dd>
  <dt class="col-sm-3 text-sm-end">Resolution</dt>
  <dd class="col-sm-9">16 bit</dd>
  <dt class="col-sm-3 text-sm-end">Accuracy</dt>
  <dd class="col-sm-9">0.1 %</dd>
</dl>

<dl class="row pcb" id="DLVR">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">DLVR-L01D E1NJ-C NI3F</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">Amphenol All Sensors</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">Indirect piezoresistive differential pressure sensor (membrane)</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/DLVR.pdf') }}">DLVR Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-sm-end">Range</dt>
  <dd class="col-sm-9">&#177;1 inH2O (&#177;249 Pa)</dd>
  <dt class="col-sm-3 text-sm-end">Resolution</dt>
  <dd class="col-sm-9">14 bit</dd>
  <dt class="col-sm-3 text-sm-end">Accuracy</dt>
  <dd class="col-sm-9">1 % (0.02 Pa / count)</dd>
</dl>


<h4 class="my-3 pt-3 border-top">Temperature and humidity</h4>

<dl class="row pcb" id="SHT85">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">SHT85</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">Sensirion</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">Humidity and temperature sensor with a pin-type connector</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/SHT85.pdf') }}">SHT85 Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-sm-end">Range</dt>
  <dd class="col-sm-9">0 to 100 %RH and -40 to 105 °C</dd>
  <dt class="col-sm-3 text-sm-end">Resolution</dt>
  <dd class="col-sm-9">16 bit</dd>
  <dt class="col-sm-3 text-sm-end">Accuracy</dt>
  <dd class="col-sm-9">&#177;1.5 %RH and &#177;0.1 °C</dd>
</dl>


<h4 class="my-3 pt-3 border-top">Inertial measurement units</h4>

<dl class="row pcb" id="LSM303">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">LSM303</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">ST Microelectronics</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">three-axis linear accelerometer and 3-axis magnetometer</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/LSM303.pdf') }}">LSM303 Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-sm-end">Range</dt>
  <dd class="col-sm-9">&#177;2 to &#177;16 G</dd>
  <dt class="col-sm-3 text-sm-end">Resolution</dt>
  <dd class="col-sm-9">16 bit</dd>
  <dt class="col-sm-3 text-sm-end">Accuracy</dt>
  <dd class="col-sm-9">..</dd>
</dl>

<dl class="row pcb" id="LIS3DH">
  <dt class="col-sm-3 text-sm-end">Type</dt>
  <dd class="col-sm-9">LIS3DH</dd>
  <dt class="col-sm-3 text-sm-end">Manufacturer</dt>
  <dd class="col-sm-9">ST Microelectronics</dd>
  <dt class="col-sm-3 text-sm-end">Description</dt>
  <dd class="col-sm-9">three-axis linear accelerometer</dd>
  <dt class="col-sm-3 text-sm-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/LIS3DH.pdf') }}">LIS3DH Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-sm-end">Range</dt>
  <dd class="col-sm-9">&#177;2 to &#177;16 G</dd>
  <dt class="col-sm-3 text-sm-end">Resolution</dt>
  <dd class="col-sm-9">16 bit</dd>
  <dt class="col-sm-3 text-sm-end">Accuracy</dt>
  <dd class="col-sm-9">&#177;40 mG (zero-G)</dd>
</dl>

</div>

<div class="d-none d-md-flex col-md-4 pcb">
  <img src="{{ url_for('static', filename='img/pcb.png') }}">
  <svg class="" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <rect class="btn" id="PCB-MSP430" x="33.7%" y="47.7%" width="21.2%" height="13.2%" />
    <rect class="btn" id="PCB-RFLoRa" x="59.1%" y="59.4%" width="34.6%" height="24.8%" />
    <rect class="btn" id="PCB-GNS413" x="37.0%" y="75.0%" width="17.0%" height="09.8%" />
    <rect class="btn" id="PCB-LIS3DH" x="17.2%" y="76.8%" width="04.9%" height="03.7%" />
    <rect class="btn" id="PCB-LSM303" x="17.2%" y="87.6%" width="04.9%" height="03.8%" />
    <rect class="btn" id="PCB-SHT85"  x="09.2%" y="25.5%" width="03.0%" height="06.3%" />
    <rect class="btn" id="PCB-LPS33"  x="06.0%" y="19.5%" width="06.0%" height="04.0%" />
    <rect class="btn" id="PCB-SP210"  x="18.0%" y="06.0%" width="23.0%" height="22.0%" />
    <rect class="btn" id="PCB-DLVR"   x="45.0%" y="04.0%" width="28.0%" height="15.0%" />
    <rect class="btn" id="PCB-ICS"    x="77.0%" y="06.0%" width="08.0%" height="06.0%" />
  </svg>
</div>

</div>
