<!-- sidebar top -->
<a href="/" class="d-block px-2 py-3 link-light text-decoration-none text-center">
    <b class="fs-5" style="line-height: .8;">Multi<br>EAR</b>
</a>

<!-- sidebar nav -->
<div class="nav nav-pills nav-flush flex-column mb-auto text-center" id="nav-tabs" role="tablist" aria-orientation="vertical" style="font-size: 1.5rem">
  <button class="nav-link active py-3 border-bottom" id="home-tab" data-bs-toggle="tab" data-bs-target="#dashboard" data-bs-placement="right" data-bs-original-title="Home" type="button" role="tab" aria-controls="home" aria-selected="true">
    <i class="bi bi-house-door text-light" alt="Home"></i>
  </button>
  <button class="nav-link py-3 border-bottom" id="tools-tab" data-bs-toggle="tab" data-bs-target="#sensors" data-bs-placement="right" data-bs-original-title="Sensors" type="button" role="tab" aria-controls="sensors" aria-selected="false">
    <i class="bi bi-cpu text-light" alt="Sensors"></i>
  </button>
  <button class="nav-link py-3 border-bottom" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard" data-bs-placement="right" data-bs-original-title="Dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
    <i class="bi bi-speedometer2 text-light" alt="Dashboard"></i>
  </button>
  <button class="nav-link py-3 border-bottom" id="wifi-tab" data-bs-toggle="tab" data-bs-target="#wifi" data-bs-placement="right" data-bs-original-title="Wi-Fi" type="button" role="tab" aria-controls="wifi" aria-selected="false">
    <i class="bi bi-wifi text-light" alt="Wi-Fi"></i>
  </button>
  <button class="nav-link py-3 border-bottom" id="status-tab" data-bs-toggle="tab" data-bs-target="#status" data-bs-placement="right" data-bs-original-title="Status" type="button" role="tab" aria-controls="status" aria-selected="false">
    <i class="bi bi-journal-code text-light" alt="Status"></i>
  </button>
</div>

<!-- sidebar bottom -->
<ul class="nav nav-pills nav-flush flex-column mt-auto text-center border-top">
    <li>
        <a href="https://github.com/Multi-EAR" class="nav-link py-3" title="" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Github">
            <i class="bi bi-github text-light" alt="Github" style="font-size: 1.5rem;"></i>
        </a>
    </li>
</ul>
