include CHANGELOG.rst
include README.rst
include CONTRIBUTORS
include LICENSE
include setup.py

include multi-ear/ctrl/browserconfig.xml
include multi-ear/ctrl/favicon.ico
include multi-ear/ctrl/site.webmanifest
include multi-ear/ctrl/uwsgi.ini
graft multi-ear/ctrl/static
graft multi-ear/ctrl/templates

include multi-ear/uart/influxdb.ini

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.pyc
