<h1 class="h2 pt-3 pb-2 mb-3 border-bottom">Wi-Fi</h1>

<div class="container-md">

    <h3 class="mb-3 hstack gap-3">Hotspot mode <div class="vr"></div> <small class="text-muted">broadcast a wireless network</small></h3>
    <p>Let the Raspberry Pi broadcast it's own wireless network.<br>
    The Raspberry Pi's ip address shall be <code>192.168.128.1</code>.</p>

    <div class="row mb-3 justify-content-end">
      <div class="col-md-9">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="wirelessAccessPoint" {% if wireless_access_point %}checked{% endif %}>
          <label class="form-check-label" for="hotspotWiFiMode">wireless access point mode</label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3 text-md-end">
        <label for="staticNetworkName" class="col-form-label">Name/SSID</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" id="staticNetworkName" value="{{hostapd.ssid}}" readonly>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3 text-md-end">
        <label for="staticPassword" class="col-form-label">WPA{{hostapd.wpa}} passphrase</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" id="staticPassword" value="{{hostapd.wpa_passphrase}}" readonly>
      </div>
    </div>

    <p><b>Note:</b> this network shall not have internet access!</p>

    <hr class="my-5">

    <h3 class="mb-3 hstack gap-3">Client mode <div class="vr"></div> <small class="text-muted">join a wireless network</small></h3>

    <form class="needs-validation" novalidate>

      <div class="row mb-3">
        <p>Automatilly connect to known wireless networks when wireless access point mode is <code>disabled</code>.</p>
        <p>Enter the <code>name</code> and <code>passphrase</code> to add the network to the Raspberry Pi's <code>wpa_supplicant</code> list.<br> 
        Only WPA2 (WPA Personal) secured networks are supported and editing/removing networks is not allowed.</p>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 text-md-end">
          <label for="inputSSID" class="col-form-label">Name/SSID</label>
        </div>
        <div class="col-md-9">
          <input type="text" id="inputSSID" class="form-control" spellcheck="false"
           autocorrect="off" autocapitalize="off" required>
          <div class="invalid-feedback">
            Please enter a valid network name.
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 text-md-end">
          <label for="inputPSK" class="col-form-label">WPA2 passphrase</label>
        </div>
        <div class="col-md-9">
          <div class="input-group">
            <input type="password" id="inputPSK" class="form-control" spellcheck="false"
             autocorrect="off" autocapitalize="off" minlength="8" maxlength="63" required>
            <button id="toggle-password" type="button" class="d-none"
             aria-label="Show password as plain text. Warning: this will display your password on the screen.">
            </button>
            <div class="invalid-feedback">
              Please enter a WPA2 security key of length 8 to 63 characters.
            </div>
          </div>
        </div>
      </div>

    <div class="mb-3 text-end">
      <button class="btn btn-secondary" type="reset">Reset</button>
      <button class="btn btn-primary" type="submit" value="submit">Add</button>
    </div>

  </form>

</div>
