<h1 class="h2 pt-3 pb-2 mb-3 border-bottom">MEMS sensors</h1>

<h4 class="my-3">Timing and location</h4>

<dl class="row">
  <dt class="col-sm-3 text-end">Type</dt>
  <dd class="col-sm-9">GNS413sLP</dd>
  <dt class="col-sm-3 text-end">Manufacturer</dt>
  <dd class="col-sm-9">Texim Europe</dd>
  <dt class="col-sm-3 text-end">Description</dt>
  <dd class="col-sm-9">Multi-GNSS receiver for GPS, GLONASS, SBAS, QZSS, BeiDou and Galileo</dd>
  <dt class="col-sm-3 text-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/GNS41x.pdf') }}">GNS41x Datasheet (PDF)</a></dd>
</dl>

<h4 class="my-3 pt-3 border-top">Audible sound</h4>

<dl class="row">
  <dt class="col-sm-3 text-end">Type</dt>
  <dd class="col-sm-9">..</dd>
  <dt class="col-sm-3 text-end">Manufacturer</dt>
  <dd class="col-sm-9">..</dd>
  <dt class="col-sm-3 text-end">Description</dt>
  <dd class="col-sm-9">..</dd>
  <dt class="col-sm-3 text-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/??.pdf') }}">.. Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-end">Range</dt>
  <dd class="col-sm-9">..</dd>
  <dt class="col-sm-3 text-end">Resolution</dt>
  <dd class="col-sm-9">..</dd>
  <dt class="col-sm-3 text-end">Accuracy</dt>
  <dd class="col-sm-9">..</dd>
</dl>


<h4 class="my-3 pt-3 border-top">Absolute pressure</h4>

<dl class="row">
  <dt class="col-sm-3 text-end">Type</dt>
  <dd class="col-sm-9">LPS33HW</dd>
  <dt class="col-sm-3 text-end">Manufacturer</dt>
  <dd class="col-sm-9">ST Microelectronics</dd>
  <dt class="col-sm-3 text-end">Description</dt>
  <dd class="col-sm-9">Piezoresistive pressure sensor</dd>
  <dt class="col-sm-3 text-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/LPS33HW.pdf') }}">LPS33HW Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-end">Range</dt>
  <dd class="col-sm-9">260-1260 hPa</dd>
  <dt class="col-sm-3 text-end">Resolution</dt>
  <dd class="col-sm-9">24 bit</dd>
  <dt class="col-sm-3 text-end">Accuracy</dt>
  <dd class="col-sm-9">&#177;0.1 hPa</dd>
</dl>


<h4 class="my-3 pt-3 border-top">Differential pressure</h4>

<dl class="row">
  <dt class="col-sm-3 text-end">Type</dt>
  <dd class="col-sm-9">SP210-SM02-R</dd>
  <dt class="col-sm-3 text-end">Manufacturer</dt>
  <dd class="col-sm-9">Superior Sensor Technology</dd>
  <dt class="col-sm-3 text-end">Description</dt>
  <dd class="col-sm-9">Piezoresistive differential pressure sensor</dd>
  <dt class="col-sm-3 text-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/SP210.pdf') }}">SP210 Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-end">Range</dt>
  <dd class="col-sm-9">&#177;250 Pa (programmable up to &#177;2.5 kPa)</dd>
  <dt class="col-sm-3 text-end">Resolution</dt>
  <dd class="col-sm-9">16 bit</dd>
  <dt class="col-sm-3 text-end">Accuracy</dt>
  <dd class="col-sm-9">0.1 %</dd>
</dl>

<dl class="row">
  <dt class="col-sm-3 text-end">Type</dt>
  <dd class="col-sm-9">DLVR-L01D E1NJ-C NI3F</dd>
  <dt class="col-sm-3 text-end">Manufacturer</dt>
  <dd class="col-sm-9">Amphenol All Sensors</dd>
  <dt class="col-sm-3 text-end">Description</dt>
  <dd class="col-sm-9">Piezoresistive differential pressure sensor</dd>
  <dt class="col-sm-3 text-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/DLVR.pdf') }}">DLVR Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-end">Range</dt>
  <dd class="col-sm-9">&#177;1 inH2O (&#177;249 Pa)</dd>
  <dt class="col-sm-3 text-end">Resolution</dt>
  <dd class="col-sm-9">14 bit</dd>
  <dt class="col-sm-3 text-end">Accuracy</dt>
  <dd class="col-sm-9">1 % (0.02 Pa / count)</dd>
</dl>


<h4 class="my-3 pt-3 border-top">Temperature and humidity</h4>

<dl class="row">
  <dt class="col-sm-3 text-end">Type</dt>
  <dd class="col-sm-9">SHT85</dd>
  <dt class="col-sm-3 text-end">Manufacturer</dt>
  <dd class="col-sm-9">Sensirion</dd>
  <dt class="col-sm-3 text-end">Description</dt>
  <dd class="col-sm-9">Humidity and temperature sensor with a pin-type connector</dd>
  <dt class="col-sm-3 text-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/SHT85.pdf') }}">SHT85 Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-end">Range</dt>
  <dd class="col-sm-9">0 to 100 %RH and -40 to 105 °C</dd>
  <dt class="col-sm-3 text-end">Resolution</dt>
  <dd class="col-sm-9">16 bit</dd>
  <dt class="col-sm-3 text-end">Accuracy</dt>
  <dd class="col-sm-9">&#177;1.5 %RH and &#177;0.1 °C</dd>
</dl>


<h4 class="my-3 pt-3 border-top">Inertial measurement units</h4>

<dl class="row">
  <dt class="col-sm-3 text-end">Type</dt>
  <dd class="col-sm-9">LSM303</dd>
  <dt class="col-sm-3 text-end">Manufacturer</dt>
  <dd class="col-sm-9">ST Microelectronics</dd>
  <dt class="col-sm-3 text-end">Description</dt>
  <dd class="col-sm-9">three-axis linear accelerometer and 3-axis magnetometer</dd>
  <dt class="col-sm-3 text-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/LSM303.pdf') }}">LSM303 Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-end">Range</dt>
  <dd class="col-sm-9">&#177;2 to &#177;16 G</dd>
  <dt class="col-sm-3 text-end">Resolution</dt>
  <dd class="col-sm-9">16 bit</dd>
  <dt class="col-sm-3 text-end">Accuracy</dt>
  <dd class="col-sm-9">..</dd>
</dl>

<dl class="row">
  <dt class="col-sm-3 text-end">Type</dt>
  <dd class="col-sm-9">LIS3DH</dd>
  <dt class="col-sm-3 text-end">Manufacturer</dt>
  <dd class="col-sm-9">ST Microelectronics</dd>
  <dt class="col-sm-3 text-end">Description</dt>
  <dd class="col-sm-9">three-axis linear accelerometer</dd>
  <dt class="col-sm-3 text-end">Datasheet</dt>
  <dd class="col-sm-9"><a href="{{ url_for('static', filename='datasheet/LIS3DH.pdf') }}">LIS3DH Datasheet (PDF)</a></dd>
  <dt class="col-sm-3 text-end">Range</dt>
  <dd class="col-sm-9">&#177;2 to &#177;16 G</dd>
  <dt class="col-sm-3 text-end">Resolution</dt>
  <dd class="col-sm-9">16 bit</dd>
  <dt class="col-sm-3 text-end">Accuracy</dt>
  <dd class="col-sm-9">&#177;40 mG (zero-G)</dd>
</dl>
