[Unit]
Description=Multi-EAR :: uart readout
DefaultDependencies=false
 
[Service]
Type=simple
User=tud
Group=tud
WorkingDirectory=/opt/services/multi-ear-uart
Environment="VIRTUAL_ENV=/opt/py37"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
ExecStart=/opt/py37/bin/python3 /opt/services/multi-ear-uart/uart.py
Restart=on-fail
 
[Install]
WantedBy=sysinit.target
