@charset "UTF-8";
/*!
 * base css
 */

html {
  height: -webkit-fill-available;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
  }
  main {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
  }
}
@media (max-width: 767px) {
  .min-vh-100 {
    min-height: 90vh!important;
  }
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

dl.pcb {

}

div.pcb {
  position: fixed;
  left: inherit;
  right: 1rem;
  width: 30%;
  height: auto;
  vertical-align: middle;
  z-index: 1030;
  text-align: center;
}

div.pcb img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1031;
}

div.pcb svg {
  position: absolute;
  top: 0;
  z-index: 1032;
}

div.pcb svg rect {
    fill: white;
    opacity: 0;
}

/*
div.pcb svg rect:hover {
    fill: white;
    opacity: .1;
}
*/

div.pcb .debug rect {
  fill: purple;
  opacity: .5;
}

#navTop i {
  padding-left: .5rem;
  padding-right: .5rem;
}
