@charset "UTF-8";
/*!
 * base css
 */

html {
  height: -webkit-fill-available;
}

#navTop i {
  padding-left: .5rem;
  padding-right: .5rem;
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

div.pcb {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pcb img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1031;
}

.pcb svg {
  position: absolute;
  top: 0;
  z-index: 1032;
}

.pcb svg rect {
    fill: white;
    opacity: 0;
}

.pcb .debug rect {
  fill: purple;
  opacity: .5;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
  }
  main {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
  }
  div.pcb {
    position: fixed;
    left: inherit;
    right: 1rem;
    width: 30%;
    height: auto;
    vertical-align: middle;
    z-index: 1030;
  }
}

@media (max-width: 767px) {
  .min-vh-100 {
    min-height: 90vh!important;
  }
  div.pcb {
      position: relative;
      display: inline-block;
  }
  .pcb img {
    width: 100%;
  }
}
