@charset "UTF-8";
/*!
 * base css
 */

html {
  height: -webkit-fill-available;
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

div.pcb {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pcb img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1031;
}

.pcb svg {
  position: absolute;
  top: 0;
  z-index: 1032;
}

.pcb svg rect {
    fill: white;
    opacity: 0;
}

.pcb .debug rect {
  fill: purple;
  opacity: .5;
}

.nav-link {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.navbar-dark .nav-link {
  color: #f9fafb;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
  }
  main {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
  }
  div.pcb {
    position: fixed;
    left: inherit;
    right: 1rem;
    width: 30%;
    height: auto;
    vertical-align: middle;
    z-index: 1030;
  }
  nav.navbar {
    width: 4.5rem;
  }
  nav.navbar > .container-fluid {
    height: 100vh!important;
    flex-direction: column!important;
  }
  .navbar-brand {
    text-decoration: none;
    line-height: 1.2;
  }
  .nav-item {
    width: 4.5rem;
    font-size: 1.5rem;
  }
  .navbar-brand {
    font-size: 1rem;
    text-align: center;
    margin: 0!important;
    padding: .5rem!important;
  }
}

@media (max-width: 767.98px) {
  .min-vh-100 {
    min-height: 90vh!important;
  }
  div.pcb {
      position: relative;
      display: inline-block;
  }
  .pcb img {
    width: 100%;
  }
  nav.navbar i {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .navbar .border-top {
    border-top: 0!important;
  }
}
