[Unit]
Description=Multi-EAR :: wifi access point mode trigger on pin 7
After=network.target
 
[Service]
Type=simple
User=tud
Group=tud
WorkingDirectory=/tmp/multi-ear-services
ExecStart=/opt/multi-ear-services/bin/gpio-watch -v -e rising 7
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multi-ear-wifi
Restart=always
 
[Install]
WantedBy=multi-user.target
