[Unit]
Description=Multi-EAR :: uart readout
After=network.target
 
[Service]
Type=simple
User=tud
Group=tud
WorkingDirectory=/tmp/multi-ear-services
Environment="VIRTUAL_ENV=/opt/py37"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
ExecStart=/opt/py37/bin/python3 /opt/services/multi-ear-uart/uart.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multi-ear-uart
Restart=always

[Install]
WantedBy=multi-user.target
