[Unit]
Description=Multi-EAR :: ctrl webservice
After=network.target
 
[Service]
Type=simple
User=tud
Group=tud
WorkingDirectory=/opt/services/multi-ear-ctrl
Environment="VIRTUAL_ENV=/opt/py37"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
ExecStart=/opt/py37/bin/uwsgi --ini /opt/services/multi-ear-ctrl/uwsgi.ini
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multi-ear-ctrl
Restart=always
 
[Install]
WantedBy=multi-user.target
