[Unit]
Description=Multi-EAR time scheduled script execution

[Timer]
OnCalendar=*:0/5

[Service]
User=tud
Group=tud
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multi-ear-sync

[Install]
WantedBy=timers.target
