[Unit]
Description=Multi-EAR Wi-Fi scheduled script execution

[Timer]
OnCalendar=minutely
AccuracySec=5m
Persistent=true

[Install]
WantedBy=timers.target
