[Unit]
Description=Multi-EAR :: uart readout
After=network.target
 
[Service]
Type=simple
User=tud
Group=tud
WorkingDirectory=/home/tud/
Environment="VIRTUAL_ENV=/home/tud/.py37"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
# ExecStart=/home/tud/.py37/bin/python3 /home/tud/.py37/lib/python3.7/site-packages/multi_ear_services/uart/uart.py
ExecStart=/home/tud/.py37/bin/multi-ear-uart
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multi-ear-uart
Restart=always

[Install]
WantedBy=multi-user.target
