[Unit]
Description=Automatically generates a Wi-Fi hotspot when no a valid ssid is in range
After=multi-user.target
Wants=multi-ear-sync.target

[Service]
Type=oneshot
# RemainAfterExit=yes
User=tud
Group=tud
ExecStart=/home/tud/.py37/bin/autohotspot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multi-ear-sync

[Install]
WantedBy=multi-user.target
